name: CI

on:
  pull_request:
  push:
    branches:
      - main

env:
  LOG_LEVEL: debug

jobs:
  validate-presets:
    runs-on: ubuntu-latest
    timeout-minutes: 10

    strategy:
      matrix:
        file:
          - rust/updateChannelInRustToolchainToml.json
          - rust/updateRustVersionInCargoToml.json
          - default.json5

    env:
      RENOVATE_CONFIG_FILE: ${{ matrix.file }}

    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          show-progress: false

      - name: Testing ${{ matrix.file }}
        run: npx --package renovate renovate-config-validator

  all-done:
    name: All done
    # this is the job that should be marked as required on GitHub. It's the only one that'll reliably trigger
    # when any upstream fails: success
    # when all upstream skips: pass
    # when all upstream success: success
    # combination of upstream skip and success: success
    runs-on: ubuntu-latest
    needs:
      - validate-presets
    if: |
      always()
    steps:
      - name: Fail!
        shell: bash
        if: |
          contains(needs.*.result, 'failure') ||
          contains(needs.*.result, 'cancelled')
        run: |
          echo "One / more upstream failed or was cancelled. Failing job..."

          exit 1

      - name: Success!
        shell: bash
        run: |
          echo "Great success!"
